<body>
  <link rel="stylesheet" href="faq.component.css">
  <div class="container">
  <details open>
      <summary> 1. What is Arbitrage? </summary>
      <div class="faq__content">
        <p>Arbitrage is the process of simultaneous buying and selling of an asset from different platforms, exchanges or locations to cash in on the price difference (usually small in percentage terms)?
      </p>
      </div>
    </details>
    <details>
      <summary>2. Explain with a scenario Arbitrage trading.</summary>
      <div class="faq__content">
        <p>Complex trading concepts are best explained by examples.Let’s say a stock of Company XY trades at $40 on the London Stock Exchange. An arbitrageur finds that the same stock is trading at $40.80 at the New York Stock Exchange (NYSE). The trader could simply buy the stock at LSE and sell it at NYSE for a profit of $0.80 per stock. Same scenario would work for NSE and BSE.</p>
      </div>
    </details>
    <details>
      <summary>3. Is arbitrage 100% risk free?</summary>
      <div class="faq__content">
        <p>Arbitrage refers to the practice of simultaneously buying and selling an investment in order to profit from a difference in price. Essentially, arbitrage can exist because of inefficiencies in the market, and if an arbitrage is found, it can be a risk-free way to earn a profit.</p>
      </div>
    </details>
    <details>
      <summary>4. Is arbitrage easy? </summary>
      <div class="faq__content">
        <p>Although this may seem like a complicated transaction to the untrained eye, arbitrage trades are actually quite straightforward and are thus considered low-risk.</p>
      </div>
    </details>
    <details>
      <summary> 5. Is arbitrage trading legal in India?</summary>
      <div class="faq__content">
        <p>It is 100 % legal and there are large fund houses who does solely arbitrage trading to make money for clients.
       </p>
      </div>
    </details>
  </div>
  </body>
  
  
  
  
  
  
  