<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="aboutus.component.css"> 
    </head>
<body>

 
    <ul class="cd-hero-slider">  
        <li class="selected">
           <div class="tm-home-container">
                <div class="tm-home-title-container">
                    <h2 class="tm-text-title " style="font-weight: bold; color: white;">About TradeEasy</h2>    
                </div>
                <div class="tm-home-description-container tm-bg-dark-blue">
                    <p class="tm-text "> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We are all familiar with the phrase "arbitrage" in the age of online trading 
                        and stock exchange. Arbitrage is the process of buying and selling an asset at the same time 
                        from separate platforms, exchanges, or locations in order to profit from price differences 
                        (usually small in percentage terms).</p>
                    <p class="tm-text">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arbitrage is a result of market imperfections, 
                        if all markets were fully efficient, it would not exist.Rather than wasting time searching
                        for the best traders, our technology gives consumers superior arbitrage advice. As hosts, 
                        we make certain that our guests are happy with the options available to them. As a result,
                        we can tell you that this system will be extremely beneficial to you.This system is simple
                        to use, with tabs strategically positioned for client convenience. The user can also keep 
                        track of previous trades. I hope you find this to be a great and beneficial experience.Thank You!</p>
                    </div>
            </div>
        </li>
    </ul>
</body>
            